* {
  box-sizing: border-box;
}
body {
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
form {
   margin-top: 30%
}
.gameTitle {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
    font-family: 'Fondamento', cursive;
    font-size: 50px;
    text-align: center;
}
.cardDiv {
  height: 20vh;
  width: 50vw;
  border: 2px solid black;
}
.green {
   color: transparent;
   text-shadow: 0px 3px 3px rgba(76, 235, 103, 0.486);
}
.red {
   color: transparent;
   text-shadow: 0px 3px 3px rgba(76, 235, 103, 0.486);
}
.displayCard {
   display: block;
}
.bottomCard {
   background-color: green;
   height: 20vh;
  width: 50vw;
  border: 2px solid black;
}
.topCard {
   background-color: grey;
   height: 20vh;
  width: 50vw;
  border: 2px solid black;
}
.hideCard {
   display: none;
}

