* {
  box-sizing: border-box;
}
body {
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
form {
  margin-top: 2%;
}
.gameTitle {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  font-family: "Fondamento", cursive;
  font-size: 50px;
  text-align: center;
}
.green {
  color: transparent;
  text-shadow: 0px 3px 3px rgba(76, 235, 103, 0.486);
}
.red {
  color: transparent;
  text-shadow: 0px 3px 3px rgba(76, 235, 103, 0.486);
}
/*card divs*/
.cardDiv {
  height: 30vh;
  width: 50vw;
  background-color: transparent;
  perspective: 1000px;
}
.bottomCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 30vh;
  width: 50vw;
  border: 2px solid black;
}
.topCard {
  background-color: green;
  height: 30vh;
  width: 50vw;
  border: 2px solid black;
}
.hideCard {
  display: none;
}
/*.displayCard {
   display: block;
 }
 */

/* form and bottom input/button */
.resetBtn {
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(21, 114, 61, 0.664);
  color: springgreen;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  font-family: "Fondamento", cursive;
  cursor: pointer;
  outline: none;
}
.input {
  padding: 100px;
}
