* {
  box-sizing: border-box;
}
body {
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
form {
  margin-top: 20px;
}
.headDiv {
  display: inline-flex;
  margin-top: 3%;
  margin-bottom: -30px;
}
.scoreDiv {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.gameTitle {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  font-family: "Fondamento", cursive;
  font-size: 45px;
  text-align: center;
}
.prompter {
  font-size: 23px;
}
.green {
  color: transparent;
  text-shadow: 0px 3px 3px rgba(76, 235, 103, 0.486);
}
.red {
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 1, 1, 0.747);
}

/*card divs*/

.cardDiv {
  perspective: 1000px;
  position: relative;
  height: 35vh;
  width: 70vw;
  background-image: url("imgs/trunk.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: -10px 0px 40px -7px #195817, 10px 0px 40px -7px #125024,
    5px 5px 15px 5px rgba(134, 31, 31, 0.171);
}

/*need transform on keypress*/

.innerCardDiv {
  position: absolute;
  height: 35vh;
  width: 70vw;
  transform-style: preserve-3d;
  transition: all 0.4s ease;
}
.innerCardDiv:active {
  transform: rotateY(180deg);
}
.topCard {
  position: absolute;
  backface-visibility: hidden;
  background-color: transparent;
  height: 35vh;
  width: 70vw;
  background-position: center;
  background-size: cover;
  border: 2px solid rgb(5, 61, 5);
}
.bottomCard {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 35vh;
  width: 70vw;
  font-family: "Fondamento", cursive;
  font-size: 30px;
  color: #1f8f00;
  text-shadow: 3px 0 3px #5f5f5f, 5px 0 3px #646464,
    6px 2px 3px rgba(117, 117, 117, 0.5), 6px 0 9px #757575, 8px 0 9px #7e7e7e,
    9px 2px 9px rgba(150, 150, 150, 0.5), 9px 0 18px #808080,
    11px 0 18px #008a17, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #bebebe,
    14px 0 30px #6a8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80ff00,
    17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
}

.hideCard {
  opacity: 0;
}
.hideForm {
  display: none;
}
.gameOver {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.displayCard {
   display: block;
 }
 */
#inputField {
  text-transform: capitalize;
}
/* form and bottom input/button */
.resetBtn {
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(21, 114, 61, 0.664);
  color: springgreen;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  font-family: "Fondamento", cursive;
  cursor: pointer;
  outline: none;
}
label {
  color: transparent;
  text-shadow: 0px 3px 3px rgba(76, 235, 103, 0.486);
  font-size: 20px;
}
input,
select,
textarea {
  font-family: "Fondamento", cursive;
  font-size: 100%;
  padding: 5px 15px 5px 15px;
  color: rgb(245, 245, 245);
  background-color: rgb(0, 70, 23);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  outline: none;
}
.instructions {
  color: rgb(236, 236, 236);
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  font-size: 30px;
}
.bottomP {
  color: rgb(241, 241, 241);
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  font-family: "Roboto", sans-serif;
  padding: 20px 25% 0 25%;
}

@media only screen and (max-width: 700px) {
  .gameTitle {
    font-size: 40px;
    text-align: center;
  }
  .cardDiv {
    height: 30vh;
    width: 80vw;
  }
  .bottomCard {
    height: 30vh;
    width: 80vw;
    font-size: 21px;
  }
  .topCard {
    height: 30vh;
    width: 80vw;
  }
  form {
    margin-top: 0px;
    display: flex;
  }
  .innerCardDiv {
    height: 30vh;
    width: 80vw;
  }
  .bottomP {
    padding-top: 5px;
  }
}

@media only screen and (min-width: 1000px) {
  .cardDiv {
    height: 50vh;
    width: 70vw;
  }
  .bottomCard {
    height: 50vh;
    width: 70vw;
    font-size: 40px;
  }
  .topCard {
    height: 50vh;
    width: 70vw;
  }
  .innerCardDiv {
    height: 50vh;
    width: 70vw;
  }
  .gameTitle {
    font-size: 60px;
    text-align: center;
  }
}
@media only screen and (min-width: 1400px) {
  .cardDiv {
    height: 45vh;
    width: 60vw;
  }
  .bottomCard {
    height: 45vh;
    width: 60vw;
    font-size: 40px;
  }
  .topCard {
    height: 45vh;
    width: 60vw;
  }
  .innerCardDiv {
    height: 45vh;
    width: 60vw;
  }
}
